@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e6e6e6c6;
    min-height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.button {
    width: 25px;
    height: 25px;
    background: #000;
    border-radius: 20px;
    position: absolute;
}

.mouse_grid {
    z-index: 999999;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(52, minmax(0, 1fr));
    grid-template-rows: repeat(26, minmax(0, 1fr));
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    overflow: hidden;
    visibility: hidden;

}

.mouse_grid_tile {
    opacity: 0.65;
    z-index: inherit;
    aspect-ratio: 1/1;
    background: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.highlight {
    color: black;
    background-color: rgba(255, 255, 255, 0.45);
}

.final-highlight {
    background-color: rgb(36, 123, 36);
}

.breakdown_tile {
    font-size: clamp(10px, 2vw, 12px);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0.5px solid white;
    pointer-events: none;
}